body {
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
.navbar{
    background: #f0f0f0; 
}
.gradient-text {
    background: linear-gradient(90deg, #3498db, #1abc9c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover,
.nav-link.active {
    background: linear-gradient(90deg, #3498db, #1abc9c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}